<section id="page">
    <img src="LogoNight.png" alt="Le logo Kura">
    <article>
        <p>
            Bienvenue sur KURA
            Tu croules sous une montagne de jeux vidéo et tu as du mal à t’y retrouver ? Pas de panique, on a la solution parfaite pour toi ! KURA sera ton meilleur allié pour centraliser, organiser et montrer ta collection de jeux au grand monde (ou juste à toi-même, on ne juge pas).    
        </p>
        <br>
        <p>
            Ici, tu peux :
        </p>
        <br>
        <ul>
            <li>
                <strong>Suivre ta collection</strong> comme un pro en ajoutant tous tes jeux préférés en un instant.
            </li>
            <li>
                <strong>Découvrir tes stats perso</strong> : Combien d'heures as-tu passé sur ton jeu préféré ? Quel est ton genre de prédilection ? Tous les détails croustillants sont là pour booster ton ego (ou te motiver à finir ce backlog, courage !).
            </li>
            <li>
                <strong>Suivre d'autres gamers</strong> et espionner... euh, admirer leurs collections. La dimension sociale te permet aussi de voir ce que tes amis aiment, possèdent ou traquent.
            </li>
            <li>
                <strong>Protéger ton jardin secret</strong> : Collection publique ou privée ? C’est toi qui choisis. Affiche fièrement tes trophées ou garde tes jeux "plaisirs coupables" bien à l'abri !
            </li>
        </ul>
        <br>
        <p>
            Bref, KURA, c’est plus qu’un site : c’est ton complice gaming au quotidien. Prépare-toi à dompter ta collection et à en faire la vitrine ultime de tes passions vidéoludiques !
        </p>
    </article>
    <section id="identification">
        <span class="bouton">
            <a href="">Se connecter</a>
        </span>
        <span class="bouton">
            <a href="">S'inscrire</a>
        </span> 
    </section>
    <span class="bouton">
        <a href="">Parcourir</a>
    </span> 
</section>
